* {
  margin: 0;
  box-sizing: content-box;
}

.body {
  border: 2px solid red;
  width: 580px;
  height: 100vh;
  margin: auto;
}

.products-list {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
  gap: 5px 50px;
}

.product {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  user-select: none;
}

.product button {
  cursor: pointer;
}

.shopping-cart {
  border: 2px solid green;
  height: 255px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  gap: 5px 50px;
  align-content: start;
  grid-template-rows: repeat(10, min-content);
  grid-auto-flow: column;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
  user-select: none;
  gap: 0 5px;
}