* {
  margin: 0;
  box-sizing: border-box;
}

.body {
  border: 1px solid red;
  width: 780px;
  height: 100vh;
  margin: auto;
}

.products-header h2 {
  margin-bottom: 5px;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.products-container {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 5px 20px;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  height: 309px;
  overflow-y: auto;
  align-content: start;
}

.products-item {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  height: 21px;

}

.bottom {
  display: flex;
}

.cart-header {
  display: flex; 
  margin-bottom: 5px; 
  align-items: center;
  justify-content: space-between;
  width: 390px;
  margin-right: 20px;
}

.cart-container {
  border: 1px solid blue;
  height: 260px;
  width: 390px;
  list-style: none;
  padding: 0;
  gap: 5px 20px;
  margin-bottom: 10px;
  grid-auto-flow: column;
  overflow-y: scroll;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.5fr 5fr 3fr 2fr 0.5fr 0.5fr;
}

.cart-item * {
  margin-right: 5px;
  margin-bottom: 5px;
}

.checkout * {
  margin-bottom: 5px;
}

.coupon-area {
  display: flex;
  flex-direction: column;
}

.valid {
  color: #40b346;
}

.invalid {
  color: #c50a0a;
}